#form {
    padding: 2%;
    background-color: antiquewhite;
    max-width: 100%;
    border: 1px solid black;
}

.submitButton {
    display: flex;
    justify-content: center;
}

#usedCars {
    background-color: antiquewhite;
    padding: 1%;
    text-align: center;
}

.cars {
    background-color: antiquewhite;
    padding: 1%;
    margin: 1% 1% 0% 4%;
    border: 2px solid black;
}